<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="flex-center">
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-title>Recyclica</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form">
          <ion-item>
            <ion-input
              formControlName="email"
              label="Email"
              labelPlacement="floating"
              type="email"
            ></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="email?.touched && email?.errors?.['required']">Email is required</ion-label>
          <ion-label color="danger" *ngIf="email?.touched && email?.errors?.['email']">Email is invalid</ion-label>
          <ion-item>
            <ion-input
              formControlName="password"
              label="Password"
              labelPlacement="floating"
              type="password"
            ></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="password?.touched && !password?.valid">Password is required</ion-label>
          <ion-button fill="clear" color="dark" size="full" [disabled]="!form.get('email')?.valid"
            >Forgot password</ion-button
          >
          <ion-button color="primary" size="full" [disabled]="!form.valid" (click)="login()"
            >Login</ion-button
          >
          <ion-button
            color="primary"
            fill="clear"
            size="full"
            (click)="registerUser()"
            >Register</ion-button
          >
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
